<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051160911358-2s4d760o5sefmup8r6ghn9svespmofdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051160911358-2s4d760o5sefmup8r6ghn9svespmofdq</string>
	<key>API_KEY</key>
	<string>AIzaSyA_-g8w0Lvx7kk33Ha592fqibKi42DiMgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1051160911358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zahid00.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-9664d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-9664d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051160911358:ios:b5530822119b509b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-9664d.firebaseio.com</string>
</dict>
</plist>